<ion-view view-title="Juego De Memoria">
  <ion-content class="padding">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="tex">BioMemoria</h1>
          <center><h5 class="texw">Juega y Diviertete</h5></center>
        </div>
      </div>
    </div>
    <hr>
    <!--juego-->
    <div class="container">
        <div class="row">
            <div class="col">
                <center><div id="picbox"></center>
                    <span id="boxbuttons">
                        <span class="button">
                            <span id="counter">0</span>
                            Movimientos
                        </span>
                        <span class="button" ng-click="ResetGame()">
                            Reiniciar
                        </span> 
                    </span>
                        <center><div id="boxcard"></div></center>
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>