<ion-view view-title="Infografias">
  <ion-content class="padding">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="tex">Infografias</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <center><img height="320" width="300" src="img/info1.jpg"></center>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <center><img height="420" width="300" src="img/info2.png"></center>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
