<ion-view view-title="Videos">
  <ion-content class="padding">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="tex">Importacia del Agua</h1>
          <h5 class="texw">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.

          Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua.</h5>
        </div>
      </div>
    </div>
    <!--VIDEO-->
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <center><iframe width="560" height="315" src="https://www.youtube.com/embed/7UHFvyhKIXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
        </div>   
      </div>
    </div>
    <!--FECUNDACION-->
    <br>
    <br>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <h1 class="tex">Fecundación y Metodos Anticonceptivos</h1>
          <h5 class="texw">La fecundación, es el proceso por el cual dos gametos se fusionan durante la reproducción sexual para crear un nuevo individuo con un genoma derivado de ambos progenitores. La anticoncepción, contracepción o control de la natalidad es cualquier método o dispositivo para prevenir el embarazo.​ La planificación, provisión y uso de métodos anticonceptivos es llamado planificación familiar.​​</h5>
        </div>
      </div>
    </div>
    <!--Video 2-->
    <div class="container">
      <div class="row">
        <div class="col">
          <center><iframe width="560" height="315" src="https://www.youtube.com/embed/m8U2l1FI3X0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>