<ion-view view-title="ADN 3D">
  <ion-content>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="tex">ADN</h1>
          <h5 class="texw">El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria.</h5>
        </div>
      </div>
    </div>
    <!--ADN-->
    <div class="container">
      <div class="row">
        <div class="col col-25"></div>
          <div class="col col-50">        
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
