<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-background-positive tabs-color-dark">

  <!-- video Tab -->
  <ion-tab title="Videos" icon-off="ion-videocamera" icon-on="ion-videocamera" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- adn Tab -->
  <ion-tab title="ADN" icon-off="ion-nuclear" icon-on="ion-nuclear" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- infografia Tab -->
  <ion-tab title="Infografias" icon-off="ion-image" icon-on="ion-image" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Tabla Tab -->
  <ion-tab title="Tabla" icon-off="ion-document-text" icon-on="ion-document-text" href="#/tab/tabla">
    <ion-nav-view name="tab-tabla"></ion-nav-view>
  </ion-tab>

  <!-- juego Tab -->
  <ion-tab title="Juego" icon-off="ion-game-controller-b" icon-on="ion-game-controller-b" href="#/tab/game">
    <ion-nav-view name="tab-game"></ion-nav-view>
  </ion-tab>


</ion-tabs>