/* Empty. Add your own CSS if you like */
.tex{
	text-align: center;
	font-size: 45px;
	font-family: impact;
	-webkit-text-fill-color: #FFEA00;
	-webkit-text-stroke: 2px black;
}

.texw{
	color:#fff;
	background-color: rgba(0,0,0,.5);
}

.centu{
  margin-left: auto;
  margin-right: auto;
}

ion-view{
	background-image: url(http://www.bruna.cat/imgdownload/full/6/69263/anime-desktop-wallpaper-hd.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.dna {
  background:#60FF00;
  height: 2px;
  width: 200px;
  margin: 30px auto;
  position: relative;
  animation: dna-rotate 1.6s infinite linear;
}
.dna::after,
.dna::before {
  content: '';
  width: 20px;
  display: block;
  height: 20px;
  background: #18FF00;
  position: absolute;
  border-radius: 50%;
  margin-top: -10px;
}
.dna::after {
  right: 0;
  margin-right: -9px;
  animation: buble-right 1.6s linear infinite;
}
.dna::before {
  animation: buble-left 1.6s linear infinite;
}
.dna:nth-child(0),
.dna:nth-child(0):before,
.dna:nth-child(0):after {
  animation-delay: 0s;
}
.dna:nth-child(1),
.dna:nth-child(1):before,
.dna:nth-child(1):after {
  animation-delay: 0.15s;
}
.dna:nth-child(2),
.dna:nth-child(2):before,
.dna:nth-child(2):after {
  animation-delay: 0.3s;
}
.dna:nth-child(3),
.dna:nth-child(3):before,
.dna:nth-child(3):after {
  animation-delay: 0.45s;
}
.dna:nth-child(4),
.dna:nth-child(4):before,
.dna:nth-child(4):after {
  animation-delay: 0.6s;
}
.dna:nth-child(5),
.dna:nth-child(5):before,
.dna:nth-child(5):after {
  animation-delay: 0.75s;
}
.dna:nth-child(6),
.dna:nth-child(6):before,
.dna:nth-child(6):after {
  animation-delay: 0.9s;
}
.dna:nth-child(7),
.dna:nth-child(7):before,
.dna:nth-child(7):after {
  animation-delay: 1.05s;
}
.dna:nth-child(8),
.dna:nth-child(8):before,
.dna:nth-child(8):after {
  animation-delay: 1.2s;
}
.dna:nth-child(9),
.dna:nth-child(9):before,
.dna:nth-child(9):after {
  animation-delay: 1.35s;
}
.dna:nth-child(10),
.dna:nth-child(10):before,
.dna:nth-child(10):after {
  animation-delay: 1.5s;
}
.dna:nth-child(11),
.dna:nth-child(11):before,
.dna:nth-child(11):after {
  animation-delay: 1.65s;
}
.dna:nth-child(12),
.dna:nth-child(12):before,
.dna:nth-child(12):after {
  animation-delay: 1.8s;
}
@-moz-keyframes dna-rotate {
  0% {
    width: 200px;
  }
  25% {
    width: 0;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 0;
    background: green;
  }
  100% {
    width: 200px;
  }
}
@-webkit-keyframes dna-rotate {
  0% {
    width: 200px;
  }
  25% {
    width: 0;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 0;
    background: yellow;
  }
  100% {
    width: 200px;
  }
}
@-o-keyframes dna-rotate {
  0% {
    width: 200px;
  }
  25% {
    width: 0;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 0;
    background: green;
  }
  100% {
    width: 200px;
  }
}
@keyframes dna-rotate {
  0% {
    width: 200px;
  }
  25% {
    width: 0;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 0;
    background: #2196f3;
  }
  100% {
    width: 200px;
  }
}
@-moz-keyframes buble-right {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1) translateX(-200px);
  }
  75% {
    transform: scale(0.5);
    background: green;
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}
@-webkit-keyframes buble-right {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1) translateX(-200px);
  }
  75% {
    transform: scale(0.5);
    background: #0effdb;
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}
@-o-keyframes buble-right {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1) translateX(-200px);
  }
  75% {
    transform: scale(0.5);
    background: red;
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}
@keyframes buble-right {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1) translateX(-200px);
  }
  75% {
    transform: scale(0.5);
    background: red;
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}
@-moz-keyframes buble-left {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(0.5);
    background: green;
  }
  50% {
    transform: scale(1) translateX(200px);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}
@-webkit-keyframes buble-left {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(0.5);
    background: green;
  }
  50% {
    transform: scale(1) translateX(200px);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}
@-o-keyframes buble-left {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(0.5);
    background: green;
  }
  50% {
    transform: scale(1) translateX(200px);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}
@keyframes buble-left {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(0.5);
    background: #0effdb;
  }
  50% {
    transform: scale(1) translateX(200px);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}

.nutrifacts-html {
  padding: 2px;
  font-family:"Helvetica";
  font-size: 12px;
  float:center;
  border: 2px solid black;
  width:250px;
  margin-top:2px;
  background-color: white;
  display:block;
  margin-left: auto;
  margin-right: auto;
  }
.nutrifacts-html table{
  border-collapse: collapse;
  width: 100%
}
.nutrifacts-html td {
  border-top: 1px solid black;
}
.nutrifacts-html h2 {
  margin:0;
  font-size:29px; 
}
.separator {
  height:7px;
  background-color:black;
  margin-top:2px;
}
.alineartexto {
  text-align:right;
}
.alinearcantidad {
  text-align:right;
}

/*Juego*/

.contas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 21.5em; /*680px*/
    min-height: 21.5em; /*680px*/
    background: linear-gradient(160deg, rgba(39, 47, 66, 0.8) 0%, rgba(98, 191, 228, 0.5) 100%);
    padding: 4em;  /*32px*/
    border-radius: 5px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;

}

.deck .card {
    height: 45px; /*125px*/
    width: 40px;
    margin: 0.3rem 0.2rem;
    background: rgba(46, 61, 73, 0.9);
    font-size: 0;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #FFF600; /*#02b3e4*/
    cursor: default;
    animation-name: flipInY;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #00FF00;
    font-size: 33px;
    animation-name: rubberBand;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;

}

.deck .card.unMatch {
    animation-name: pulse;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
    cursor: default;
    background: red;
    font-size: 33px;
}


.back {
    background: #2e3d49;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    border: none;
    outline: none;
}

.check {
    transform: rotateY(180deg);
}

/*modal section*/

.pop-up {
    z-index: 1000;
    width: 100%;
    height: 100%;
    /*position: fixed;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hidden{

}

.result {
  position: absolute;
    top: 22.62em;
    left: 43.75em;
    width: 500px;
    max-width: 90vw;
    background-color: #b0cee8;
    box-shadow: 0 -1px 0 0.2em #646da8, 0 0.2em 0.2em 0 rgb(89, 167, 168);
    border-radius: 30px;
}
.fireworks {
    left: 0.5em;
    top: 5.5em;
}

.cup {
  right: 0.5em;
    top: 6.5em;
}

.fireworks, .cup {
    max-width: 100px;
    max-height: 100px;
    display: block;
    position: absolute;
}

input#btn-submit{
    height: 30px;
}


/*footer section*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

footer img {
    max-height: 1.5em;
    max-width: 1.5em;
}

footer .social {
    padding: 10px;
    background: linear-gradient(90deg, transparent, rgb(16, 107, 147), transparent);
    /*background: linear-gradient(160deg, rgba(39,47,66,0.3) 0%, rgba(98,191,228,0.5) 100%);*/
    border-radius: 15px;
}

.fa-star {
    color: #ffff99;
}

.hide {
    display: none;
}

.fa-heart {
    color: #ff6766;
}

.fa-coffee {
    color: #9af9ad;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.score-panel {
    text-align: left;
    width: 300px;
    margin-bottom: 10px;
    background-color: rgba(29, 109, 141, 0.5);
    border-radius: 25px;
    padding: 10px;
}

.score-panel .star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .star-rating li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    color: #fff;
    background-color: rgba(173, 190, 225, 0.6);
    box-sizing: border-box;
    outline: none;

}

.timer {
    display: inline-block;
    margin: 0 1rem;
}

/*.score-panel .moves {*/
/*color: #fff;*/
/*}*/

.btn {
    width: 85px;
    height: 45px;
    border-radius: 40px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: white;
    background: rgba(29, 109, 141, 0.5);
    border: 1px solid rgb(29, 109, 141);
    box-sizing: border-box;
    outline: none;
    font-size: 0.83em;
}

.counter span {
    display: inline-block;
    width: 100%;
}

/* animations */
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

